.error {
  margin: 16vh 0;
  color: rgb(194, 194, 194);
  text-align: center;
  padding-top: 12vh;
}

.error h2 {
  font-size: 3rem;
}

.error h4 {
  font-size: 1.4rem;
}

.error p {
  font-size: 14px;
}

@media screen and (max-width: 680px) {
  .error {
    margin: 8vh 0;
    padding-top: 8vh;
  }
  .error h2 {
    font-size: 2rem;
  }

  .error h4 {
    margin-right: 8vh;
    margin-left: 8vh;
    font-size: 1.2rem;
  }

  .error p {
    font-size: 13px;
  }
}
